# This file should be placed in /etc/systemd/system/
[Unit]
Description="Run make_atq.py to schedule the Borealis radar"

[Service]
User=radar
EnvironmentFile=/etc/sysconfig/borealis
ExecStart=/bin/bash -c '${BOREALISPATH}/borealis_env${PYTHON_VERSION}/bin/python${PYTHON_VERSION} ${BOREALISPATH}/scheduler/make_atq.py /home/radar/borealis_schedules/'

[Install]
WantedBy=multi-user.target
