sphinx>=2.1.2
breathe
numpy
scipy
protobuf
sphinxcontrib-programoutput
sphinxcontrib-autoprogram
pyzmq
myst_parser
deepdish
docutils=0.16
#cmake
#pycparser
#venvgit2
#couldn't get pygit2 to install properly on readthedocs
