# This file should be placed in /etc/systemd/system/
# Modify the `User` field as necessary to match your system.
[Unit]
Description=Restart borealis daemon

[Service]
User=radar
ExecStart=/usr/local/bin/restart_borealis.daemon
Restart=always
# Needed for OpenSUSE Leap 16.0
SELinuxContext=unconfined_u:unconfined_r:unconfined_t:s0

[Install]
WantedBy=multi-user.target
