sphinx>=2.1.2
breathe
numpy
scipy
protobuf
sphinxcontrib-programoutput
sphinxcontrib-autoprogram
pyzmq
myst_parser
deepdish
docutils==0.16
posix_ipc
latex
inotify
matplotlib
readthedocs-sphinx-search
#cmake
#pycparser
#venvgit2
#couldn't get pygit2 to install properly on readthedocs
