sphinx==7.2.6
breathe
numpy
scipy
protobuf
sphinxcontrib-programoutput
sphinxcontrib-autoprogram
pyzmq
myst_parser
deepdish
docutils==0.20
posix_ipc
latex
inotify
matplotlib
sphinx-rtd-theme
structlog
h5py
pydantic<=1.10.13
