sphinx>=2.1.2
breathe
numpy
scipy
protobuf
sphinxcontrib-programoutput
sphinxcontrib-autoprogram
pyzmq
myst_parser
deepdish
docutils==0.16
posix_ipc
latex
inotify
matplotlib
sphinx-rtd-theme
structlog
